@page
@model IndexModel
@{
    ViewData["Title"] = "Vejrudsigten";
}

<div class="text-center">
    <h1 class="display-4">Vejrudsigten</h1>
    <h2>@ViewData["VejrudsigtHeader"]</h2>
    <p>@ViewData["Vejrudsigten"]</p>
</div>
